<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/main.js"></script>
    <script>
        function login() {
            var data = { userid: $('#userid').val(), password: $('#password').val() };
            $.ajax({
                url: '/user/login',
                method: 'POST',
                data: JSON.stringify(data),
                success: function (res) {
                    console.log(res);
                    if (res !== null) 
                        window.location.href = '/';
                        alert('登陆成功！');
                },
                error: function() {
                    alert('登陆失败，用户名或密码错误');
                },
                contentType: 'application/json;charset=utf-8',
                dataType: 'json'
            });
        }
        function register() {
            var data = { username: $('#username').val(), userid: $('#r_userid').val(), password: $('#r_password').val() };
            $.ajax({
                url: '/user/register',
                method: 'POST',
                data: JSON.stringify(data),
                success: function (res) {
                    console.log(res);
                    if (res !== null) {
                        $('#userid').val(res['userid']);
                        $('#password').val(res['password']);
                        alert('Registered!');
                    }
                },
                dataType: 'json',
                contentType: "application/json;charset=utf-8"
            });
        }
    </script>
    <title>用户</title>
</head>

<body>
    <nav th:insert="header::header"></nav>

    <div>
        <label for="username"></label><input type="text" name="username" placeholder="用户id" id="userid">
        <br>
        <label for="password"></label><input type="password" name="password" placeholder="密码" id="password">
        <br>
        <button onclick="login();">登录</button>
    </div>

    <div>
        <label for="o"></label><input type="text" name="o" placeholder="用户名" id="username">
        <br>
        <label for="username"></label><input type="text" name="username" placeholder="用户id" id="r_userid">
        <br>
        <label for="password"></label><input type="password" name="password" placeholder="密码" id="r_password">
        <br>
        <button onclick="register();">注册</button>
    </div>
    
    <nav th:insert="footer::footer"></nav>
</body>

</html>